@model IEnumerable<Sneaker_DATN.Models.Discounts>

@{
    ViewData["Title"] = "ListUser";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<style>
    .custom-checkbox-index input[type="checkbox"] {
        width: 20px;
        height: 20px;
        border-radius: 8px !important;
        background-color: #576ee0 !important;
        color: white !important;
    }
</style>

<div class="color-dashboard">
    <h2 class="main-title text-center pt-4">DANH SÁCH MÃ GIẢM GIÁ</h2>
    <div class="col-lg-12 m-auto px-5 pb-4">
        <div class="card shadow-sm">
            <div class="card-body justify-content-around">
                <div class="row col-lg-12">
                    <div class="input-group col-lg-8 col-sm-6">
                        <div class="form-outline d-flex">
                            <input type="search" class="input-group col-lg-8" placeholder="Tìm kiếm..." />
                            <button type="button" class="search-btn btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                            @*<div class="ml-3">
                                <select>
                                    <option selected>Trạng thái...</option>
                                    <option value="1">Hoạt động</option>
                                    <option value="2">Ngừng HĐ</option>
                                </select>
                            </div>
                            <button type="button" class="search-btn btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>*@
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a asp-action="Create" class="color-btn-create btn btn-primary float-right"><i class="fas fa-plus pr-2"></i>Thêm mới</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 m-auto px-5 pb-5">
        <div class="users-table table-wrapper">
            <table class="posts-table mt-3">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.VoucherCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DayStart)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DayEnd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateUse)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.CustomerId)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Classify)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Percent)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.VoucherCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DayStart)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DayEnd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateUse)
                            </td>
                            <td class="text-center">
                                @foreach (var u in ViewBag.user)
                                {
                                    if (u.UserID == item.CustomerId)
                                    {
                                        @u.FullName;
                                    }
                                }
                            </td>
                            <td class="text-center custom-checkbox-index">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td class="text-center custom-checkbox-index" >
                                @Html.DisplayFor(modelItem => item.Classify)
                            </td>
                            <td class="text-center">
                                @string.Format("{0:0,0}", item.Price) VNĐ
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Percent)%
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.VoucherId"><i class="far fa-edit dashbroad-icon-hover" style="font-size: 1.5rem;"></i></a>
                                <a asp-action="Details" asp-route-id="@item.VoucherId"><i class="far fa-eye ml-3 dashbroad-icon-hover" style="font-size: 1.5rem;"></i></a>
                                @*<a asp-action="Edit" asp-route-id="@item.VoucherId">Chỉnh sửa</a> |
                                <a asp-action="Details" asp-route-id="@item.VoucherId">Chi tiết</a> |*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*<div class="col-lg-12 m-auto px-5 pb-5">
        <div class="pagin-admin shadow-sm">
            <div class="pagin-left float-left">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>
            <div class="pagin-right float-right">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>*@
</div>