@model X.PagedList.IPagedList<Sneaker_DATN.Models.Orders>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "ListOrder";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="color-dashboard">
    <h2 class="main-title text-center pt-4">DANH SÁCH ĐƠN HÀNG</h2>
    <div class="col-lg-12 m-auto px-5 pb-4">
        <div class="card shadow-sm">
            <div class="card-body justify-content-around">
                <div class="row col-lg-12">
                    <div class="input-group col-lg-8 col-sm-6">
                        <div class="form-outline d-flex">
                            @using (Html.BeginForm("Index", "Orders", FormMethod.Get))
                            {
                                <p class="d-flex">
                                    @Html.TextBox("SearchString", ViewBag.CurrentFilterSearch as string)
                                    <button type="submit" value="Search" class="search-btn btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </p>
                            }
                            <div class="ml-3">
                                @using (Html.BeginForm("Index", "Orders", FormMethod.Get))
                                {
                                    <div class="d-flex">
                                        @Html.DropDownList("status", new SelectList(ViewBag.Status))
                                        <button type="submit" value="Search" class="search-btn btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 m-auto px-5 pb-5">
        <div class="users-table table-wrapper">
            <table class="posts-table mt-3">
                <thead>
                    <tr class="users-table-info">
                        <th class="col-lg-1">
                            @Html.DisplayNameFor(model => model.First().FullName)
                        </th>
                        <th class="col-lg-1">
                            @Html.DisplayNameFor(model => model.First().Total)
                        </th>
                        <th class="col-lg-1">
                            Thanh toán
                        </th>
                        <th class="col-lg-2">
                            @Html.DisplayNameFor(model => model.First().Status)
                        </th>
                        <th class="col-lg-1">
                            SĐT
                        </th>
                        <th class="col-lg-1">
                            Địa chỉ
                        </th>
                        <th class="col-lg-1">
                            @Html.DisplayNameFor(model => model.First().DateCreate)
                        </th>
                        <th class="col-lg-2">
                            @Html.DisplayNameFor(model => model.First().Note)
                        </th>
                        <th class="col-lg-2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-lg-2">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td class="col-lg-1">
                                @string.Format("{0:0,0}", item.Total)
                            </td>
                            <td class="col-lg-1">
                                @string.Format("{0:0,0}", item.PaymentAmount)
                            </td>
                            <td class="col-lg-1">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td class="col-lg-1">
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td class="col-lg-1">
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td class="col-lg-1">
                                @Html.DisplayFor(modelItem => item.DateCreate)
                            </td>
                            <td class="col-lg-2">
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td class="col-lg-2">
                                <a href="@Url.Action("Edit", "Orders", new { id = @item.OrderID })" class="btn-edit-order">
                                    <i class="far fa-edit dashbroad-icon-hover" style="font-size: 1.5rem;"></i>
                                </a>
                                <a href="@Url.Action("Details", "OrderDetails", new { id = @item.OrderID })" class="btn-details-order">
                                    <i class="far fa-eye ml-3 dashbroad-icon-hover" style="font-size: 1.5rem;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12 m-auto px-5 pb-5">
        <div class="pagin-admin shadow-sm">
            <div class="pagin-left float-left">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>
            <div class="pagin-right float-right">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilterSearch = ViewBag.CurrentFilterSearch, currentFilterStatus = ViewBag.CurrentFilterStatus }))
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Order -->
<div class="modal fade" id="editOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- empty -->
    </div>
</div>

<!-- Modal Details Order -->
<div class="modal fade" id="detailsOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- empty -->
    </div>
</div>