@model Sneaker_DATN.Models.Users

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<div class="container">
    <div class="col-lg-12">
        <div class="custom-detail pt-5">
            <div class="custom-icon">
                <a class="dashbroad-icon-hover" asp-action="Index"><i class="icon-back fas fa-chevron-left fa-2x "></i></a>
                <h4 class="main-title text-center text-uppercase mt-2">Chi tiết nhân viên</h4>
                <button class="custom-icon-button">
                    <a class="font-weight-lighter" asp-action="Edit" asp-route-id="@Model.UserID">
                        <i class="far fa-edit" style="font-size: 1.25rem;"></i> Chỉnh sửa
                    </a>
                </button>
            </div>
            <dl class="shadow-lg">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImgUser)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImgUser)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DOB)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DOB)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Roles)
            </dt>
            <dd class="col-sm-10">
                @ViewBag.RoleNameD
            </dd>
        </dl>
    </div>
    @*<div>
        <a asp-action="Edit" asp-route-id="@Model.UserID">Sửa</a> |
        <a asp-action="Index">Trở về danh sách</a>
    </div>*@
</div>

