@model X.PagedList.IPagedList<Sneaker_DATN.Models.Users>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "ListUser";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}


<div class="color-dashboard">
    <h2 class="main-title text-center pt-4">DANH SÁCH NHÂN VIÊN</h2>
    <div class="col-lg-12 m-auto px-5 pb-4">
        <div class="card shadow-sm">
            <div class="card-body justify-content-around">
                <div class="row col-lg-12">
                    <div class="input-group col-lg-8 col-sm-6">
                        <div class="form-outline d-flex">
                            @using (Html.BeginForm("Index", "User", FormMethod.Get))
                            {
                                <p class="d-flex">
                                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                    @*<input type="submit" value="Search" />*@
                                    <button type="submit" value="Search" class="search-btn btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </p>
                            }
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="@Url.Action("Create", "User")"  class="btn-create-user color-btn-create btn btn-primary float-right">
                            <i class="fas fa-plus pr-2"></i>Thêm mới
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 m-auto px-5">
        <div class="users-table table-wrapper">
            <table class="posts-table mt-3">
                <thead>
                    <tr class="users-table-info">
                        <th>
                            @Html.ActionLink("Tài khoản", "Index", new { sortOrder = ViewBag.NameSortParm })
                            @*@Html.DisplayNameFor(model => model.First().UserName)*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().PhoneNumber)
                        </th>
                        <th>
                            @Html.ActionLink("Ngày sinh", "Index", new { sortOrder = ViewBag.DateSortParm })
                            @*@Html.DisplayNameFor(model => model.First().DOB)*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Roles)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Lock)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @if (item.Gender)
                                {
                                    <span>Nam</span>
                                }
                                else
                                {
                                    <span>Nữ</span>
                                }
                                @*@Html.DisplayFor(modelItem => item.Gender)*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DOB)
                            </td>
                            <td>
                                @foreach (var rl in ViewBag.role)
                                {
                                    if (rl.RoleID == item.RoleID)
                                    {
                                        @rl.Role;
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lock)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "User", new { id = @item.UserID })" class="btn-edit-user">
                                <i class="far fa-edit dashbroad-icon-hover" style="font-size: 1.5rem;"></i>
                                </a>
                                <a href="@Url.Action("Details", "User", new { id = @item.UserID })" class="btn-details-user">
                                <i class="far fa-eye ml-3 dashbroad-icon-hover" style="font-size: 1.5rem;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12 m-auto px-5 pb-5">
        <div class="pagin-admin shadow-sm">
            <div class="pagin-left float-left">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>
            <div class="pagin-right float-right">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
</div>

<!-- Modal Create Discount -->
<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- empty -->
    </div>
</div>

<!-- Modal Edit Discount -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- empty -->
    </div>
</div>

<!-- Modal Details Discount -->
<div class="modal fade" id="detailsUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- empty -->
    </div>
</div>

