@model X.PagedList.IPagedList<Sneaker_DATN.Models.Users>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "ListUser";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}


<div class="color-dashboard">
    <h2 class="main-title text-center pt-4">DANH SÁCH NHÂN VIÊN</h2>
    <div class="col-lg-12 m-auto px-5 pb-4">
        <div class="card shadow-sm">
            <div class="card-body justify-content-around">
                <div class="row col-lg-12">
                    <div class="input-group col-lg-8 col-sm-6">
                        <div class="form-outline d-flex">
                            @using (Html.BeginForm("Index", "User", FormMethod.Get))
                            {
                                <p class="d-flex">
                                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                    @*<input type="submit" value="Search" />*@
                                    <button type="submit" value="Search" class="search-btn btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </p>
                            }
                            @*<input type="search" class="input-group col-lg-8" placeholder="Tìm kiếm..." />
                            <button type="button" class="search-btn btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>*@
                            @*<div class="ml-3">
                                <select>
                                    <option selected>Trạng thái...</option>
                                    <option value="1">Hoạt động</option>
                                    <option value="2">Ngừng HĐ</option>
                                </select>
                            </div>
                            <button type="button" class="search-btn btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>*@
                            @*<div>
                                @using (Html.BeginForm("Index", "User", FormMethod.Get))
                                {
                                    <p>
                                        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                        <input type="submit" value="Search" />
                                    </p>
                                }
                            </div>*@
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a asp-action="Create" class="color-btn-create btn btn-primary float-right"><i class="fas fa-plus pr-2"></i>Thêm mới</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 m-auto px-5 pb-5">
        <div class="users-table table-wrapper">
            <table class="posts-table mt-3">
                <thead>
                    <tr class="users-table-info">
                        <th>
                            @Html.ActionLink("Tài khoản", "Index", new { sortOrder = ViewBag.NameSortParm })
                            @*@Html.DisplayNameFor(model => model.First().UserName)*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().PhoneNumber)
                        </th>
                        <th>
                            @Html.ActionLink("Ngày sinh", "Index", new { sortOrder = ViewBag.DateSortParm })
                            @*@Html.DisplayNameFor(model => model.First().DOB)*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Roles)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Lock)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @if (item.Gender)
                                {
                                    <span>Nam</span>
                                }
                                else
                                {
                                    <span>Nữ</span>
                                }
                                @*@Html.DisplayFor(modelItem => item.Gender)*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DOB)
                            </td>
                            <td>
                                @foreach (var rl in ViewBag.role)
                                {
                                    if (rl.RoleID == item.RoleID)
                                    {
                                        @rl.Role;
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lock)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.UserID"><i class="far fa-edit dashbroad-icon-hover" style="font-size: 1.5rem;"></i></a>
                                <a asp-action="Details" asp-route-id="@item.UserID"><i class="far fa-eye ml-3 dashbroad-icon-hover" style="font-size: 1.5rem;"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12 m-auto px-5 pb-5">
        <div class="pagin-admin shadow-sm">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            @*<div class="pagin-left float-left">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div class="pagin-right float-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, status = ViewBag.Status }))
        </div>*@
        </div>
    </div>
</div>
