@model IEnumerable<Sneaker_DATN.Models.Users>

@{
    ViewData["Title"] = "ListUser";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2 class="main-title">DANH SÁCH NHÂN VIÊN</h2>
<div class="">
    <div class="col-lg-11 m-auto pt-3">
        <div class="card">
            <div class="card-body justify-content-around">
                <div class="row">
                    <h6 class="text-white mt-2 px-3 pb-2">Bộ lọc:</h6>
                    <div class="col-lg-3"><input type="text" placeholder="Tên nhân viên"></div>
                    @*<div class="input-group col-lg-3">
                        <select>
                            <option selected>Trạng thái...</option>
                            <option value="1">Đợi</option>
                            <option value="2">Xác nhận</option>
                            <option value="3">Đã giao</option>
                        </select>
                    </div>*@
                    <div class="input-group-append col-lg-2">
                        <button class="btn btn-outline-secondary">Tìm kiếm</button>
                    </div>
                    <div class="col-lg-12">
                        <button asp-action="Create" class="donhang-create btn btn-white float-right">Thêm mới</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-11 m-auto">
        <div class="users-table table-wrapper">
            <table class="posts-table mt-3">
                <thead>
                    <tr class="users-table-info">
                        <th class="pl-3">
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DOB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Roles)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @if (item.Gender == "1")
                            {
                                <span>Nam</span>
                            }
                            else
                            {
                                <span>Nữ</span>
                            }
                            @*@Html.DisplayFor(modelItem => item.Gender)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DOB)
                        </td>
                        <td>
                            @if (item.RoleID == 1)
                            {
                                <span>Quản lý</span>
                            }
                            else if (item.RoleID == 2)
                            {
                                <span>Nhân viên</span>
                            }
                            else
                            {
                                <span>Khách hàng</span>
                            }
                            @*@Html.DisplayFor(modelItem => item.RoleID)*@
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.UserID">Sửa</a> |
                            <a asp-action="Details" asp-route-id="@item.UserID">Xem</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
