@model Sneaker_DATN.Models.Users

@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<div class="container">
    <div class="col-lg-10 m-auto">
        <div class="custom-detail pt-5">
            <div class="custom-icon">
                <a class="dashbroad-icon-hover" asp-controller="Admin" asp-action="Index"><i class="icon-back fas fa-chevron-left fa-2x "></i></a>
                <h4 class="main-title text-center text-uppercase mt-2">Chào @Model.FullName</h4>
                <button class="custom-icon-button">
                    <a class="font-weight-lighter" asp-action="Edit" asp-route-id="@Model.UserID">
                        <i class="far fa-edit" style="font-size: 1.25rem;"></i> Chỉnh sửa?
                    </a>
                </button>
            </div>
            <dl class="shadow-lg">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.Gender)
                    {
                        <span>Nam</span>
                    }
                    else
                    {
                        <span>Nữ</span>
                    }
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ImgUser)
                </dt>
                <dd class="col-sm-10">
                    <img src="~/images/avatar/@Model.ImgUser" style="width:150px" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DOB)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DOB)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Roles)
                </dt>
                <dd class="col-sm-10">
                    @ViewBag.RoleNameInfo
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Lock)
                </dt>
                <dd class="col-sm-10">
                    @if (!Model.Lock)
                    {
                        <span>Hoạt động</span>
                    }
                    else
                    {
                        <span>Không hoạt động</span>
                    }
                </dd>
            </dl>
        </div>
    </div>
    @*<div>
        <a asp-action="Edit" asp-route-id="@Model.UserID">Sửa</a> |
        <a asp-action="Index">Trở về danh sách</a>
    </div>*@
</div>

