@model Sneaker_DATN.Models.Users


    <div class="container container-modal-large modal-content">
        <div class="modal-body">
            <div class="col-lg-12">
                <div class="custom-detail pt-3">
                    <div class="custom-icon pb-3">
                        <h4 class="main-title text-center text-uppercase mt-2 m-auto">Chi tiết khách hàng</h4>
                        <button type="button" class="close custom-btn-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <dl class="shadow-lg">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FullName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FullName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Gender)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ImgUser)
                        </dt>
                        <dd class="col-sm-10">
                            <img src="~/images/avatar/@Model.ImgUser" style="width:150px" />
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DOB)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DOB)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DateCreated)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Roles)
                        </dt>
                        <dd class="col-sm-10">
                            @ViewBag.RoleNameD
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Lock)
                        </dt>
                        <dd class="col-sm-10">
                            @if (!Model.Lock)
                            {
                                <span>Hoạt động</span>
                            }
                            else
                            {
                                <span>Không hoạt động</span>
                            }
                        </dd>
                    </dl>
                </div>

            </div>
        </div>
    </div>

