@model IEnumerable<Sneaker_DATN.Models.Users>

@{
    ViewData["Title"] = "ListUser";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2 class="main-title">DANH SÁCH KHÁCH HÀNG</h2>
<div class="">
    <div class="col-lg-11 m-auto mt-3">
        <div class="card shadow-sm">
            <div class="card-body justify-content-around">
                <div class="row col-lg-12">
                    <div class="input-group col-lg-8 col-sm-6">
                        <div class="form-outline d-flex">
                            <input type="search" class="input-group col-lg-8" placeholder="Tìm kiếm..." />
                            <button type="button" class="search-btn btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                            <div class="ml-1">
                                <select>
                                    <option selected>Trạng thái...</option>
                                    <option value="1">Hoạt động</option>
                                    <option value="2">Ngừng HĐ</option>
                                </select>
                            </div>
                            <button type="button" class="search-btn btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    @*<div class="col-lg-4 col-sm-6">
                        <a class="color-btn-create btn btn-primary float-right">Thêm mới</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-11 m-auto">
        <div class="users-table table-wrapper">
            <table class="posts-table mt-3">
                <thead>
                    <tr class="users-table-info">
                        <th class="pl-3">
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DOB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Roles)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DOB)
                        </td>
                        <td>
                            @if(item.RoleID == 3)
                            {
                            <span>Khách hàng</span>
                            }
                            @*@Html.DisplayFor(modelItem => item.RoleID)*@
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.UserID">Sửa</a> |
                            <a asp-action="Details" asp-route-id="@item.UserID">Xem</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
