@model X.PagedList.IPagedList<Sneaker_DATN.Models.Users>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "ListUser";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="color-dashboard">
    <h2 class="main-title text-center pt-4">DANH SÁCH KHÁCH HÀNG</h2>
    <div class="col-lg-12 m-auto px-5 pb-4">
        <div class="card shadow-sm">
            <div class="card-body justify-content-around">
                <div class="row col-lg-12">
                    <div class="input-group col-lg-8 col-sm-6">
                        <div class="form-outline d-flex">
                            @using (Html.BeginForm("Index", "UserMem", FormMethod.Get))
                            {
                                <p class="d-flex">
                                    @Html.TextBox("SearchString", ViewBag.CurrentFilterSearch as string)
                                    @*<input type="submit" value="Search" />*@
                                    <button type="submit" value="Search" class="search-btn btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </p>
                            }
                            <div class="ml-3">
                                @*<select>
                                    <option selected>Trạng thái...</option>
                                    <option value="1">Hoạt động</option>
                                    <option value="2">Ngừng HĐ</option>
                                </select>*@
                                @using (Html.BeginForm("Index","UserMem",FormMethod.Get))
                                {
                                <div class="d-flex">
                                    @Html.DropDownList("status", new SelectList(ViewBag.Status))
                                    @*<input type="submit" value="Search" />*@
                                    <button type="submit" value="Search" class="search-btn btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                }
                            </div>
                            @*<button type="button" class="search-btn btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>*@
                        </div>
                    </div>
                    @*<div class="col-lg-4 col-sm-6">
                            <a class="color-btn-create btn btn-primary float-right">Thêm mới</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 m-auto px-5 pb-5">
        <div class="users-table table-wrapper">
            <table class="posts-table mt-3">
                <thead>
                    <tr class="users-table-info">
                        @*<th>
                                @Html.DisplayNameFor(model => model.First().UserName)
                            </th>*@
                        <th>
                            @Html.ActionLink("Họ và Tên", "Index", new { sortOrder = ViewBag.NameSortParm })
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Email)
                        </th>
                        <th>
                            @Html.ActionLink("Giới tính", "Index", new { sortOrder = ViewBag.GenderSortParm })
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().DOB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Address)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Roles)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.First().Lock)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>*@
                            <td class="col-lg-2">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td class="col-lg-1">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td class="col-lg-1">
                                @if (item.Gender)
                                {
                                    <span>Nam</span>
                                }
                                else
                                {
                                    <span>Nữ</span>
                                }
                            </td>
                            <td class="col-lg-1">
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td class="col-lg-1">
                                @Html.DisplayFor(modelItem => item.DOB)
                            </td>
                            <td class="col-lg-3">
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            @*<td>
                                @if (item.RoleID == 3)
                                {
                                    <span>Khách hàng</span>
                                }
                            @Html.DisplayFor(modelItem => item.RoleID)
                            </td>*@
                            <td class="col-lg-1">
                                @Html.DisplayFor(modelItem => item.Lock)
                            </td>
                            <td class="col-lg-2">
                                <a asp-action="Edit" asp-route-id="@item.UserID"><i class="far fa-edit dashbroad-icon-hover" style="font-size: 1.5rem;"></i></a>
                                <a asp-action="Details" asp-route-id="@item.UserID"><i class="far fa-eye ml-3 dashbroad-icon-hover" style="font-size: 1.5rem;"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12 m-auto px-5 pb-5">
        <div class="pagin-admin shadow-sm">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilterSearch = ViewBag.CurrentFilterSearch, currentFilterStatus = ViewBag.CurrentFilterStatus }))
        </div>
    </div>
</div>
