@using Sneaker_DATN.Models
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Sneaker_DATN.Constant

@model IEnumerable<Sneaker_DATN.Models.ViewCart>;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ string emailAddress = Context.Session.GetString(SessionKey.Guest.Guest_UserName);}
@{ string fullName = Context.Session.GetString(SessionKey.Guest.Guest_FullName);
}
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .select-custom-provine {
        width: 100% !important;
        border: none;
    }

        .select-custom-provine .list {
            width: 100% !important;
        }

    .select-custom-provine-city .list {
        height: 400px;
        overflow-y: scroll;
    }
    .custom-input-num {
        width: 25px;
        border: none;
        background-color: transparent;
    }
</style>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start breadcumb Area -->
<section class="breadcrumb-login">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
            </ol>
        </nav>
    </div>
</section>
<!-- End breadcumb Area -->
<!--================Checkout Area =================-->
<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-sm-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span>01</span></p>
                        <h3>Giỏ hàng</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span>02</span></p>
                        <h3>Thanh toán</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>03</span></p>
                        <h3>Hoàn thành</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <form method="post" class="colorlib-form">
                    <h2>Chi tiết thanh toán</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fname">Tên</label>
                                <input type="text" id="fname" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lname">Họ</label>
                                <input type="text" id="lname" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="fname">Địa chỉ</label>
                                <input type="text" id="address" class="form-control" placeholder="Nhập địa chỉ">
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                @*<label for="">Tỉnh / Thành phố</label>*@
                                <select class="select-custom-provine select-custom-provine-city" name="calc_shipping_provinces" required="">
                                    <option value="">Tỉnh / Thành phố</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                @*<label for="">Quận / Huyện</label>*@
                                <select class="select-custom-provine" name="calc_shipping_district" required="">
                                    <option value="">Quận / Huyện</option>
                                </select>
                            </div>
                        </div>
                        <input class="billing_address_1" name="" type="hidden" value="">
                        <input class="billing_address_2" name="" type="hidden" value="">
                        <!--<div class="col-md-12">
                        <div class="">
                            <div class="col-md-6 form-group">
                                <label for="companyname">Tỉnh / Thành phố</label>
                                <select name="calc_shipping_provinces" required="">
                                    <option value="">Tỉnh / Thành phố</option>
                                </select>
                            </div>-->
                        @*<label for="companyname">Tỉnh / Thành phố</label>
                            <input type="text" id="towncity" class="form-control">*@
                        <!--<div class="col-md-6 form-group">
                                    <label for="companyname">Quận / Huyện</label>
                                    <select name="calc_shipping_district" required="">
                                        <option value="">Quận / Huyện</option>
                                    </select>
                                </div>

                                <input class="billing_address_1" name="" type="hidden" value="">
                                <input class="billing_address_2" name="" type="hidden" value="">
                            </div>
                        </div>-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" id="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Phone">Số điện thoại</label>
                                <input type="text" id="zippostalcode" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="note">Ghi chú</label>
                                <textarea name="" class="form-control form-control-note"
                                          style="height: 80px !important;"></textarea>
                            </div>
                        </div>
                        <!-- <div class="col-md-12">
                            <div class="form-group">
                                <div class="radio">
                                    <label><input type="radio" name="optradio"> Create an Account? </label>
                                    <label><input type="radio" name="optradio"> Ship to different address</label>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </form>
            </div>

            <div class="col-lg-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cart-detail">
                            <h2>Giỏ hàng</h2>
                            <ul>
                                <li >
                                    @*<span>Tổng</span> <span>$100.00</span>*@
                                    <ul>
                                        @{
                                            int stt = 0;
                                            double total = 0;
                                            foreach (var item in Model)
                                            {
                                                int iD = @item.Products.ProductID;
                                                string txt_Id = "txtQuantity_" + iD;
                                                stt++;

                                                double totalSub = item.Products.Price * item.Quantity;
                                                total += totalSub;
                                                <li id="tr_@iD">
                                                    <span>
                                                        @item.Products.ProductName
                                                        <i class='bx bx-x ml-2'></i>
                                                        <input class="custom-input-num" name="sl" type="number" id="@txt_Id" onchange="updateCart(@iD)" value="@item.Quantity" disabled />
                                                    </span>
                                                    <span id="tdGia_@iD">@item.Products.Price</span>
                                                </li>

                                            }

                                        }
                                    </ul>
                                </li>
                                <li><span>Phí vận chuyển</span> <span>$0.00</span></li>
                                <li><span>Tổng đơn hàng</span> <span id="spTotal">@total</span></li>

                            </ul>
                        </div>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-md-12">
                        <div class="cart-detail">
                            <h2>Phương thức thanh toán</h2>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio" class="pixel-radio">Chuyển khoản
                                            ngân hàng
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="pixel-radio" name="optradio">Quét mã
                                            QR
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="pixel-radio" name="optradio">Thanh toán
                                            khi nhận hàng
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""> I have read and accept the terms and
                                            conditions</label>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 cart-detail-btn text-center">
                        <p><a asp-controller="Home" asp-action="OrderComplete" class="primary-btn">Đặt hàng</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Checkout Area =================-->

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>
<script>
    //<![CDATA[
    if (address_2 = localStorage.getItem('address_2_saved')) {
        $('select[name="calc_shipping_district"] option').each(function () {
            if ($(this).text() == address_2) {
                $(this).attr('selected', '')
            }
        })
        $('input.billing_address_2').attr('value', address_2)
    }
    if (district = localStorage.getItem('district')) {
        $('select[name="calc_shipping_district"]').html(district)
        $('select[name="calc_shipping_district"]').on('change', function () {
            var target = $(this).children('option:selected')
            target.attr('selected', '')
            $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
            address_2 = target.text()
            $('input.billing_address_2').attr('value', address_2)
            district = $('select[name="calc_shipping_district"]').html()
            localStorage.setItem('district', district)
            localStorage.setItem('address_2_saved', address_2)
        })
    }
    $('select[name="calc_shipping_provinces"]').each(function () {
        var $this = $(this),
            stc = ''
        c.forEach(function (i, e) {
            e += +1
            stc += '<option value=' + e + '>' + i + '</option>'
            $this.html('<option value="">Tỉnh / Thành phố</option>' + stc)
            if (address_1 = localStorage.getItem('address_1_saved')) {
                $('select[name="calc_shipping_provinces"] option').each(function () {
                    if ($(this).text() == address_1) {
                        $(this).attr('selected', '')
                    }
                })
                $('input.billing_address_1').attr('value', address_1)
            }
            $this.on('change', function (i) {
                i = $this.children('option:selected').index() - 1
                var str = '',
                    r = $this.val()
                if (r != '') {
                    arr[i].forEach(function (el) {
                        str += '<option value="' + el + '">' + el + '</option>'
                        $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>' + str)
                    })
                    var address_1 = $this.children('option:selected').text()
                    var district = $('select[name="calc_shipping_district"]').html()
                    localStorage.setItem('address_1_saved', address_1)
                    localStorage.setItem('district', district)
                    $('select[name="calc_shipping_district"]').on('change', function () {
                        var target = $(this).children('option:selected')
                        target.attr('selected', '')
                        $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
                        var address_2 = target.text()
                        $('input.billing_address_2').attr('value', address_2)
                        district = $('select[name="calc_shipping_district"]').html()
                        localStorage.setItem('district', district)
                        localStorage.setItem('address_2_saved', address_2)
                    })
                } else {
                    $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>')
                    district = $('select[name="calc_shipping_district"]').html()
                    localStorage.setItem('district', district)
                    localStorage.removeItem('address_1_saved', address_1)
                }
            })
        })
    })
//]]></script>