@using Sneaker_DATN.Models
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Sneaker_DATN.Constant

@model IEnumerable<Sneaker_DATN.Models.ViewCart>;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ string emailAddress = Context.Session.GetString(SessionKey.Guest.Guest_UserName);}
@{ string fullName = Context.Session.GetString(SessionKey.Guest.Guest_FullName);
}
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .select-custom-provine {
        width: 100% !important;
        border: none;
    }

        .select-custom-provine .list {
            width: 100% !important;
        }

    .select-custom-provine-city .list {
        height: 400px;
        overflow-y: scroll;
    }
    .custom-input-num {
        width: 25px;
        border: none;
        background-color: transparent;
    }
</style>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start breadcumb Area -->
<section class="breadcrumb-login">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
            </ol>
        </nav>
    </div>
</section>
<!-- End breadcumb Area -->
<!--================Checkout Area =================-->
<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-sm-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span>01</span></p>
                        <h3>Giỏ hàng</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span>02</span></p>
                        <h3>Thanh toán</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>03</span></p>
                        <h3>Hoàn thành</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <form method="post" class="colorlib-form">
                    <h2>Chi tiết thanh toán</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="fname">Họ và Tên</label>
                                <input type="text" name="FullName" readonly value="@ViewBag.InfoUser.FullName" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="Email" readonly value="@ViewBag.InfoUser.Email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Phone">Số điện thoại</label>
                                <input type="text" name="Phone" readonly value="@ViewBag.InfoUser.PhoneNumber" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="fname">Địa chỉ</label>
                                <input type="text" name="Address" readonly value="@ViewBag.InfoUser.Address" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="note">Ghi chú</label>
                                <textarea name="Note" class="form-control form-control-note"
                                            style="height: 80px !important;"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cart-detail">
                            <h2>Giỏ hàng</h2>
                            <ul>
                                <li >
                                    <ul>
                                        @{
                                            int stt = 0;
                                            double total = 0;
                                            foreach (var item in Model)
                                            {
                                                int iD = @item.Products.ProductID;
                                                string txt_Id = "txtQuantity_" + iD;
                                                stt++;

                                                double totalSub = item.Products.Price * item.Quantity;
                                                total += totalSub;
                                                <li id="tr_@iD">
                                                    <span>
                                                        @item.Products.ProductName
                                                        <i class='bx bx-x ml-2'></i>
                                                        <input class="custom-input-num" name="sl" type="number" id="@txt_Id" value="@item.Quantity" disabled />
                                                    </span>
                                                    <span id="tdGia_@iD">@String.Format("{0:n0}", @item.Products.Price)</span>
                                                </li>

                                            }

                                        }
                                    </ul>
                                </li>
                                <li><span>Tổng đơn hàng</span> <span id="spTotal">@String.Format("{0:n0}", @total)</span></li>

                            </ul>
                        </div>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-md-12">
                        <div class="cart-detail">
                            <h2>Phương thức thanh toán</h2>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" disabled="disabled" name="optradio" class="pixel-radio">Chuyển khoản
                                            ngân hàng
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" disabled="disabled" class="pixel-radio" name="optradio">Quét mã
                                            QR
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" checked="checked" class="pixel-radio" name="optradio">Thanh toán
                                            khi nhận hàng
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 cart-detail-btn text-center">
                        <p><a href="javascript:orderCart();" class="primary-btn">Đặt hàng</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Checkout Area =================-->

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>
<script>
    function orderCart() {
        $.ajax({
            type: "POST",
            url: "/Home/OrderCart",
            data: {
            },
            success: function (result) {
                window.location = "/Home/OrderComplete";
            }
        });
    }
</script>