@model IEnumerable<Sneaker_DATN.Models.Orders>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start breadcumb Area -->
<section class="breadcrumb-login">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lịch sử đơn hàng</li>
            </ol>
        </nav>
    </div>
</section>

<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-md-12">
                <div class="cart-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateCreate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Total)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PaymentAmount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Note)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreate)
                                </td>
                                <td>
                                    @string.Format("{0:0,0}", item.Total)
                                </td>
                                <td>
                                    @string.Format("{0:0,0}", item.PaymentAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Note)
                                </td>
                                <td class="custom-history">
                                    <a class="primary-btn custom-history-details" asp-action="OrderDetails" asp-route-id="@item.OrderID"><i class='bx bx-detail bx-sm'></i></a>
                                    @if (item.Status == "Đang xử lý" || item.Status == "Đang đóng gói")
                                    {
                                        <a class="primary-btn custom-history-trash" onclick="show();"><i class='bx bx-trash bx-sm'></i></a>
                                    }
                                    else if (item.Status == "Đang giao")
                                    {
                                        <a class="primary-btn custom-history-trash  custom-history-trash-disable" disabled="disabled"><i class='bx bx-trash bx-sm'></i></a>
                                    }


                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //function show() {
    //    alert("hi")
    //}
</script>


