@model X.PagedList.IPagedList<Sneaker_DATN.Models.Orders>
@using X.PagedList.Mvc.Core;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/test1.css">

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start breadcumb Area -->
<section class="breadcrumb-login">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lịch sử đơn hàng</li>
            </ol>
        </nav>
    </div>
</section>

<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-md-12">
                <div class="cart-table table-responsive">
                    <table class="table tbl-history">
                        <thead>
                            <tr>
                                <th>
                                    <a class="custom-txt-history" href="@Url.ActionLink("History","Home", new { sortOrder = ViewBag.DateCreateSortParm })">
                                        <span>Ngày đặt</span><i class="bx bxs-sort-alt ml-2"></i>
                                    </a>
                                </th>
                                <th>
                                    <a class="custom-txt-history" href="@Url.ActionLink("History","Home", new { sortOrder = ViewBag.TotalSortParm })">
                                        <span>Tổng tiền</span><i class="bx bxs-sort-alt ml-2"></i>
                                    </a>
                                </th>
                                <th>
                                    <a class="custom-txt-history" href="@Url.ActionLink("History","Home", new { sortOrder = ViewBag.PaymentSortParm })">
                                        <span>Tiền Thanh Toán</span><i class="bx bxs-sort-alt ml-2"></i>
                                    </a>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Note)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateCreate)
                                    </td>
                                    <td>
                                        @string.Format("{0:0,0}", item.Total)
                                    </td>
                                    <td>
                                        @string.Format("{0:0,0}", item.PaymentAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Note)
                                    </td>
                                    <td class="custom-history">
                                        <a class="primary-btn custom-history-details" asp-action="OrderDetails" asp-route-id="@item.OrderID">
                                            <i class='bx bx-detail bx-sm'></i>
                                        </a>
                                        @if (item.Status == "Đang xử lý" || item.Status == "Đang đóng gói")
                                        {
                                            <a class="primary-btn custom-history-trash" onclick="Cancel(@item.OrderID)">
                                                <i class="bx bx-trash bx-sm"></i> Hủy
                                            </a>
                                        }
                                        else if (item.Status == "Đang giao")
                                        {
                                            <a class="primary-btn custom-history-trash" onclick="show();">
                                                <i class="bx bx-trash bx-sm"></i> Hủy
                                            </a>
                                        }
                                        else if (item.Status == "Đã hủy")
                                        {
                                            <a class="primary-btn custom-history-trash  custom-history-trash-disable" disabled="disabled">
                                                <i class="bx bx-trash bx-sm"></i> Đã hủy
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="primary-btn custom-history-trash  custom-history-trash-success" disabled="disabled">
                                                <i class="bx bx-check bx-sm"></i> Đã nhận
                                            </a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12 mt-3 p-3 pagin-history">
                <div class="shadow-sm">
                    <div class="pagin-left float-left font-weight-lighter mt-1">
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    </div>
                    <div class="pagin-right float-right">
                        @Html.PagedListPager(Model, page => Url.Action("History", new { page, sortOrder = ViewBag.CurrentSort }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function show() {
        Swal.fire({
            icon: 'error',
            title: 'Đơn hàng đang được giao',
            text: 'Liên hệ với Admin: 0979 136 258'
        })
    }

    function Cancel(id) {
        $.ajax({
            type: "POST",
            url: "/Home/CancelOrder",
            data: {
                id: id
            },
            success: function (result) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Hủy thành công',
                    showConfirmButton: false,
                    timer: 1500
                })
                setTimeout(function () {
                    location.reload();
                }, 2000)
            }
        });
    }
</script>


