@model IEnumerable<Sneaker_DATN.Models.Products>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen ">
            <div class="col-lg-12">
                <!-- hero section -->
                <div class="hero">
                    <div class="slider">
                        <div class="">
                            <!-- slide item -->
                            <div class="slide active col-lg-12">
                                <div class="info col-lg-6">
                                    <div class="info-content">
                                        <p class="top-down">
                                            New in
                                        </p>
                                        <h2 class="top-down trans-delay-0-2">
                                            Adidas Yeezy 350 V2
                                        </h2>
                                        <p class="top-down trans-delay-0-4">
                                            Yeezy Boost 350 V2 Ash Blue là một trong số các phối màu Yeezy Boost 350 V2 hoàn toàn mới vừa được tiết lộ bởi nguồn uy tín Yeezy Mafia.
                                        </p>
                                        <div class="top-down trans-delay-0-6 d-flex align-items-center">
                                            <a href="#" class="btn-icon"> <i class='bx bx-expand-alt bx-sm'></i></a>
                                            <span class="btn-flat btn-hover">
                                                Xem sản phẩm
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="img top-down col-lg-6">
                                    <div class="img-shape"></div>
                                    <img src="~/images/banner/banner-img.png" alt="">
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- slide item -->
                            <div class="slide col-lg-12">
                                <div class="info col-lg-6">
                                    <div class="info-content">
                                        <p class="top-down">
                                            New in
                                        </p>
                                        <h2 class="top-down trans-delay-0-2">
                                            Nike Air Force 1
                                        </h2>
                                        <p class="top-down trans-delay-0-4">
                                            Nike Air Force 1 đã trở thành một hiện tượng vô cùng hot với thiết kế có một không hai, một đôi giày nhưng ẩn chứa là một đôi giày khác.
                                        </p>
                                        <div class="top-down trans-delay-0-6 d-flex align-items-center">
                                            <a href="#" class="btn-icon"> <i class='bx bx-expand-alt bx-sm'></i></a>
                                            <span class="btn-flat btn-hover">
                                                Xem sản phẩm
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="img right-left col-lg-6">
                                    <div class="img-shape"></div>
                                    <img src="~/images/banner/airforceone.png" alt="">
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- slide item -->
                            <div class="slide col-lg-12">
                                <div class="info col-lg-6">
                                    <div class="info-content">
                                        <h3 class="top-down">
                                            New in
                                        </h3>
                                        <h2 class="top-down trans-delay-0-2">
                                            Vans Old Skool Green
                                        </h2>
                                        <p class="top-down trans-delay-0-4">
                                            Vans Old Skool Green mang màu sắc chủ đạo sáng mắt, VANS vẫn giữ những giá trị vốn có mà OLD SKOOL đã khẳng định.
                                        </p>
                                        <div class="top-down trans-delay-0-6 d-flex align-items-center">
                                            <a href="#" class="btn-icon"> <i class='bx bx-expand-alt bx-sm'></i></a>
                                            <span class="btn-flat btn-hover">
                                                Xem sản phẩm
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="img left-right col-lg-6">
                                    <div class="img-shape"></div>
                                    <img src="~/images/banner/vans.png" alt="">
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- slide item -->
                            <div class="slide col-lg-12">
                                <div class="info col-lg-6">
                                    <div class="info-content">
                                        <p class="top-down">
                                            New in
                                        </p>
                                        <h2 class="top-down trans-delay-0-2">
                                            Converse Chuck Taylor All Star 1970s
                                        </h2>
                                        <p class="top-down trans-delay-0-4">
                                            Converse 70s Space Racer có thiết kế hoàn toàn mới với việc tận dụng chất liệu Polyester vào thân giày trong kiểu dáng Chuck 70s cổ thấp. Điểm nhấn của sản phẩm nằm ở phần dây giày tròn, dạng rút, có độ đàn hồi tốt để bạn dễ dàng mang tháo.
                                        </p>
                                        <div class="top-down trans-delay-0-6 d-flex align-items-center">
                                            <a href="#" class="btn-icon"> <i class='bx bx-expand-alt bx-sm'></i></a>
                                            <span class="btn-flat btn-hover">
                                                Xem sản phẩm
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="img right-left col-lg-6">
                                    <div class="img-shape"></div>
                                    <img src="~/images/banner/converse.png" alt="">
                                </div>
                            </div>
                            <!-- end slide item -->
                        </div>
                        <!-- slider controller -->
                        <button class="slide-controll slide-next">
                            <i class='bx bxs-chevron-right'></i>
                        </button>
                        <button class="slide-controll slide-prev">
                            <i class='bx bxs-chevron-left'></i>
                        </button>
                        <!-- end slider controller -->
                    </div>
                </div>
                <!-- end hero section -->

            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start category Area -->
<section class="category-area mt-5" data-aos="fade-up">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8" data-aos="fade-up">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/category/c1.jpg" alt="">
                            <a href="">
                                <div class="deal-details">
                                    <h6 class="deal-title">Adidas</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4" data-aos="fade-up">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/category/c2.jpg" alt="">
                            <a href="#">
                                <div class="deal-details">
                                    <h6 class="deal-title">Sneaker for Sports</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4" data-aos="fade-up">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/category/c3.jpg" alt="">
                            <a href="#">
                                <div class="deal-details">
                                    <h6 class="deal-title">Product for Couple</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8" data-aos="fade-up">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/category/c4.jpg" alt="">
                            <a href="">
                                <div class="deal-details">
                                    <h6 class="deal-title">Nike</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 media-small" data-aos="fade-up">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/images/category/c5.jpg" alt="">
                    <a href="#">
                        <div class="deal-details">
                            <h6 class="deal-title">Sneaker for Sports</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End category Area -->
<!-- start product Area -->
@* class : owl-carousel*@
<section class="active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1><a asp-controller="Home" asp-action="Products" class="text-decoration-none text-link-hover">Sản phẩm</a></h1>
                        <p>Các sản phẩm mới.</p>
                    </div>
                </div>
            </div>
            <div class="row" data-aos="fade-up">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-product">
                            <a asp-action="Details" asp-route-id="@item.ProductID">
                                <div class="img-prd-animation">
                                    <div class="img-fluid">
                                        <img class="" src="~/images/Product/@item.Image" alt="" />
                                        @if (item.Status)
                                        {
                                            <div class="bagde-sale badge-stop">
                                                <span class="badge-txt"> Ngừng kinh doanh</span>
                                            </div>
                                        }
                                        else if (item.Sale > 0)
                                        {
                                            var sale = Math.Round((@item.Sale / @item.Price) * 100);
                                            <div class="bagde-sale">
                                                <span class="badge-txt">Sale @sale%</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </a>
                            <div class="product-details mt-3">
                                <h6 class="custom-title-product">
                                    <a class="text-decoration-none text-link-hover" data-toggle="tooltip" title="@item.ProductName" asp-action="Details" asp-route-id="@item.ProductID">
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </a>
                                </h6>
                                <div class="price d-flex">
                                    @if (item.Sale > 0)
                                    {
                                        <h6 class="d-flex">@string.Format("{0:0,0 vnđ}", (item.Price - item.Sale)) <span class="text-lowercase"></span></h6>
                                        <h6 class="d-flex l-through">@string.Format("{0:0,0 vnđ}", item.Price) <span class="text-lowercase"></span></h6>
                                    }
                                    else
                                    {
                                        <h6 class="d-flex">@string.Format("{0:0,0 vnđ}", item.Price) <span class="text-lowercase"></span></h6>
                                    }
                                </div>
                                <div class="prd-bottom">
                                    @if (!item.Status)
                                    {
                                        <a class="addProduct social-info" href="javascript:addCart(@item.ProductID);">
                                            <span class='bx bx-basket'></span>
                                            <p class="hover-text">Giỏ hàng</p>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="addProduct social-info" disabled="disabled">
                                            <span class='bx bx-basket custom-history-bag-disable'></span>
                                            <p class="hover-text">Giỏ hàng</p>
                                        </a>
                                    }
                                    <a asp-action="Details" asp-route-id="@item.ProductID" class="social-info">
                                        <span class='bx bx-move'></span>
                                        <p class="hover-text">Xem Thêm</p>
                                    </a>
                                    <a class="social-info">
                                        <span class='bx bx-share bx-rotate-180'></span>
                                        <p class="hover-text">Chia sẻ</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</section>
<!-- end product Area -->
<!-- start features Area -->
<section class="features-area section_gap" data-aos="fade-up">
    <div class="container">
        <div class="row features-inner shadow-lg">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="zoom-in">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/images/features/f-icon1.png" alt="">
                    </div>
                    <h6>Giao Hàng Miễn Phí</h6>
                    <p>Sản phẩm được vận chuyển miễn phí.</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="zoom-in">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/images/features/f-icon2.png" alt="">
                    </div>
                    <h6>Đổi Trả Hàng</h6>
                    <p>Sản phẩm được đổi trả trong 3 ngày.</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="zoom-in">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/images/features/f-icon3.png" alt="">
                    </div>
                    <h6>Hỗ trợ 24/7</h6>
                    <p>Luôn có mặt để hổ trợ khách hàng.</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="zoom-in">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/images/features/f-icon4.png" alt="">
                    </div>
                    <h6>Giao Hàng Nhận Tiền</h6>
                    <p>Thanh toán tiền mặt sau khi nhận.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->
<!-- Start category brand Area -->
<section class="category-area mb-5" data-aos="fade-up">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-12 media-small" data-aos="fade-up">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/images/category/d1.jpg" alt="">
                    <a href="#">
                        <div class="deal-details">
                            <h6 class="deal-title">Adidas</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6" data-aos="fade-up">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/category/d2.jpg" alt="">
                            <a href="">
                                <div class="deal-details">
                                    <h6 class="deal-title">Vans</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" data-aos="fade-up">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/category/d3.jpg" alt="">
                            <a href="#">
                                <div class="deal-details">
                                    <h6 class="deal-title">Converse</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" data-aos="fade-up">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/category/d5.jpg" alt="">
                            <a href="#">
                                <div class="deal-details">
                                    <h6 class="deal-title">Nike</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" data-aos="fade-up">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/category/d4.jpg" alt="">
                            <a href="https://localhost:44302/home/products?brands=nike">
                                <div class="deal-details">
                                    <h6 class="deal-title">MLB</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End category brand Area -->
<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area" data-aos="fade-up">
    <div class="container">
        <div class="exclusive-deal-ctn row justify-content-center align-items-center">
            <div class="col-lg-12 no-padding exclusive-left">
                <div class="row">
                    <div class="exclusive-deal-txt col-lg-10">
                        <h1>SALE OFF</h1>

                        <div class="time mt-4">
                            <div class="time-colon">
                                <div class="time-text">
                                    <span class="num hour_num">1</span>
                                    <span class="text">Giờ</span>
                                </div>
                                <span class="colon">:</span>
                            </div>
                            <div class="time-colon">
                                <div class="time-text">
                                    <span class="num min_num">45</span>
                                    <span class="text">Phút</span>
                                </div>
                                <span class="colon">:</span>
                            </div>
                            <div class="time-colon">
                                <div class="time-text">
                                    <span class="num sec_num">45</span>
                                    <span class="text">Giây</span>
                                </div>
                            </div>
                        </div>

                        <a asp-action="FlashSale" class="primary-btn">Xem ngay<i class='bx bx-send primary-btn-icon'></i></a>
                    </div>
                    <div class="exclusive-deal-img col-lg-2">
                        <img src="~/images/exclusive.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End exclusive deal Area -->
<!-- Start brand Area -->
<section class="brand-area section_gap" data-aos="fade-up">
    <div class="container">
        <div class="row" data-aos="zoom-in-up">
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/images/brand/1.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/images/brand/2.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/images/brand/3.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/images/brand/4.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/images/brand/5.png" alt="">
            </a>
        </div>
    </div>
</section>
<!-- End brand Area -->

<script>

    function clearCart() {
        $("#imgCart").attr("src", '/images/bag.png');
    }
    function addCart(id) {
        $("#imgCart").attr("src", '/images/bagA.png');
        $("#imgBusy_" + id).show();
        setTimeout(function () {
            $.ajax({
                url: "/Home/AddCart",
                type: "Post",
                data: {
                    id: id,
                    size: 0,
                    color: 0
                },
                success: function (result) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Thêm vào giỏ thành thành công!',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    setTimeout(function () {
                        location.reload();
                    }, 1000)
                },
                error: function (e) {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: 'Thêm vào giỏ thành thất bại!',
                        showConfirmButton: true,
                        timer: 1000
                    })
                }
            })
            $("#imgBusy_" + id).hide();
        }, 500);
    }
</script>