@using Sneaker_DATN.Models
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Sneaker_DATN.Constant

@model IEnumerable<Sneaker_DATN.Models.ViewCart>;

@{ string emailAddress = Context.Session.GetString(SessionKey.Guest.Guest_UserName);}
@{ string fullName = Context.Session.GetString(SessionKey.Guest.Guest_FullName);
}


<style>
    .minicart-custom-content {
        display: flex;
        align-items: flex-end;
    }

    .minicart-custom-body {
        margin-top: -1rem;
        width: 600px;
        padding: 3rem 1rem 3rem 1rem;
    }
    .close-minicart {
        position: absolute;
        float: left !important;
        top: 0.8rem;
        left: 1rem;
    }
    .minicart-button-ct {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .minicart-item .cart-quantity{
        border: none;
        background-color: transparent;
        width: 2rem;
        max-width: 2rem;
    }
</style>

<div class="modal-content minicart-custom-content">
    <div class="modal-body minicart-custom-body">
        <!-- offcanvas mini cart start -->
        <button type="button" class="close close-minicart minicart-close" data-dismiss="modal" aria-l
                abel="Close"><span aria-hidden="true">&times;</span></button>
        <div class="offcanvas-minicart-wrapper">
            <div class="minicart-inner-box">
                @*<div class="offcanvas-overlay"></div>*@
                <div class="minicart-inner-content">
                    @*<div class="minicart-close">
                        <i class='bx bx-x bx-sm'></i>
                    </div>*@
                    <div class="minicart-content-box">
                        @{
                            int stt = 0;
                            double total = 0;
                            foreach (var item in Model)
                            {
                                int iD = @item.Products.ProductID;
                                string txt_Id = "txtQuantity_" + iD;
                                stt++;

                                double totalSub = item.Products.Price * item.Quantity;
                                total += totalSub;
                                <div class="minicart-item-wrapper" id="tr_@iD">
                                    <ul>

                                        <li class="minicart-item">
                                            <div class="minicart-thumb">
                                                <a href="#">
                                                    <img src="~/images/Product/@item.Products.Image" alt="product">
                                                </a>
                                            </div>
                                            <div class="minicart-content">
                                                <h3 class="product-name">
                                                    <a>@item.Products.ProductName</a>
                                                </h3>
                                                <p class="pro-quantity"><span>@item.Size</span></p>
                                                <p class="pro-quantity"><span>@item.Color</span></p>
                                                <p>
                                                    <input class="cart-quantity" name="sl" type="number" id="@txt_Id" onchange="updateCart(@iD)" value="@item.Quantity" disabled /> x
                                                    <span class="cart-price" id="tdGia_@iD">@item.Products.Price</span>
                                                    @*<span class="cart-price" id="tdTien_@iD">@totalSub </span>*@
                                                </p>
                                            </div>
                                            <a class="minicart-remove" href="javascript:delCart(@iD);"><i class='bx bx-x'></i></a>
                                        </li>

                                    </ul>
                                </div>

                            }
                        }

                        <div class="minicart-pricing-box">
                            <ul>
                                @*<li>
                    <span>sub-total</span>
                    <span><strong>$300.00</strong></span>
                </li>
                <li>
                    <span>Eco Tax (-2.00)</span>
                    <span><strong>$10.00</strong></span>
                </li>
                <li>
                    <span>VAT (20%)</span>
                    <span><strong>$60.00</strong></span>
                </li>*@
                                <li class="total">
                                    <span>Tổng</span>
                                    <span id="spTotal"><strong>@total</strong></span>
                                </li>
                            </ul>
                        </div>
                        <div class="minicart-button">
                            <div class="minicart-button-ct  col-lg-12">
                                <a class="col-lg-6" asp-controller="Home" asp-action="Cart"><i class='bx bx-shopping-bag bx-sm'></i> Xem giỏ hàng</a>
                                <a class="col-lg-6" href="cart.html"><i class='bx bx-share bx-rotate-180 bx-sm'></i> Thanh toán</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- offcanvas mini cart end -->
    </div>
</div>

<script>
    function clearCart() {
        $("#imgCart").attr("src", '/images/bag.png');
    }
    function delCart(id) {
        $.ajax({
            type: "POST",
            url: "/Home/DeleteCart",
            data: {
                id: id,
            },
            success: function (result) {
                $("#tr_" + id).hide();
                $("#spTotal").html(result);

                if (result == "0") {
                    $("#imgCart").attr("src", '/images/bag.png');
                }
                else {
                    $("#imgCart").attr("src", '/images/bagA.png');
                }

            }
        });
    }

</script>