@using Sneaker_DATN.Constant
@using Microsoft.AspNetCore.Http

@{ string userName = Context.Session.GetString(SessionKey.Guest.Guest_UserName);}
@{ string fullName = Context.Session.GetString(SessionKey.Guest.Guest_FullName);}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sneaker_DATN</title>

    <!-- Boxicon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--
        CSS
        ============================================= -->
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/nouislider.min.css">
    <link rel="stylesheet" href="~/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="~/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/home-main.css">
    <!-- slide -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- Angular JS-->
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />*@

<style>
    .banner-area {
        /* background: url(~/images/banner/banner-bg.png) center no-repeat;*/
        background: url('@Url.Content("~/images/banner/banner-bg.png")') center no-repeat;
        background-size: cover;
        position: relative;
    }
    .organic-breadcrumb {
   /*     background: url(../img/banner/common-banner.png) center no-repeat;*/
        background: url('@Url.Content("~/images/banner/common-banner-bg.png")') center no-repeat;
        background-size: cover;
        padding-top: 130px;
    }
        .img-user img{
            width: 50px;
            height: 50px;
            border: 1px solid #fff;
            border-radius: 50%;
        }
        .iframe-chatbox{
            display: none;
        }
    .modal-body {
        margin-top: 7rem;
        background-color: #fff;
        border-radius: 18px;
    }
</style>
</head>
<body>
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" asp-controller="Home" asp-action="Index"><img src="~/images/avatar/Logoteam.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="index.html">Trang chủ</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="productdetail.html">
                                            Product
                                            Details
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="checkout.html">Product Checkout</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="confirmation.html">Confirmation</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link">Tin tức</a>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link">Sale</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Liên hệ</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="minicart-btn cart">
                                    <span class="bx bx-shopping-bag bx-sm"></span>
                                    <!-- <div class="notification"></div> -->
                                </a>
                                <a href="cart.html" class="cart cart-mobile">
                                    <span class="bx bx-shopping-bag bx-sm"></span>
                                    <!-- <div class="notification"></div> -->
                                </a>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <button class="search">
                                    <span class="bx bx-search-alt-2 bx-sm" id="search">
                                    </span>
                                </button>
                            </li>
                            <li class="nav-item submenu submenu-user dropdown">
                                <a href="#" class="user nav-link-right dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">

                                    @*<span class='bx bx-user-circle bx-sm'></span>*@
                                    <span class="img-user"><img src="~/images/avatar/157687606_2904103233166466_77970241031104239_n.jpg" alt="" /></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (userName != null && userName != "")
                                    {
                                        <li class="nav-item"><a class="nav-link" href="#">Thông tin cá nhân</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#">Đơn hàng</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#">Đổi mật khẩu</a></li>
                                        <partial name="_LogoutPartialHome" />
                                    }
                                    else
                                    {

                                        @*<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Login">Đăng nhập</a></li>*@
                                        <li class="nav-item"><a href='@Url.Action("Login","Home")' class="nav-link btn-login">Đăng nhập</a></li>
                                        @*<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Register">Đăng ký</a></li>*@
                                        <li class="nav-item"><a href='@Url.Action("Register","Home")' class="nav-link btn-register">Đăng ký</a></li>

                                    }
                                </ul>
                            </li>
                            @*<li class="nav-item submenu dropdown">
                                    <a href="#">
                                        <span class="bx bx-exit bx-sm"></span>
                                    </a>
                                </li>*@
                            <i></i>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container">
                <form class="d-flex justify-content-between">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>

    @* modal *@
    <!-- Modal Login -->
    <div class="container modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <!-- empty -->
        </div>
    </div>
    <!-- Modal Register -->
    <div class="container modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <!-- empty -->
        </div>
    </div>
    <!-- Modal Register -->

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!-- start footer Area -->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6" data-aos="fade-up">
                    <div class="single-footer-widget single-footer-me">
                        <h6>D-ACH Sneaker</h6>
                        <ul>
                            <li><i class='bx bx-phone bx-sm'></i>Email: dachsneaker@gmai.com</li>
                            <li><i class='bx bx-mail-send bx-sm'></i>Điện thoại: 0123 456 789</li>
                            <li><i class='bx bx-map bx-sm'></i>Địa chỉ: </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" data-aos="fade-up">
                    <div class="single-footer-widget">
                        <h6>Danh mục</h6>
                        <ul class="single-footer-links">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Trang chủ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6" data-aos="fade-up">
                    <div class="single-footer-widget">
                        <h6 class="mb-20">Thông tin</h6>
                        <ul class="single-footer-links">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Trang chủ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6" data-aos="fade-up">
                    <div class="single-footer-widget">
                        <h6>Theo dõi</h6>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class='bx bxl-facebook-circle bx-sm'></i></a>
                            <a href="#"><i class='bx bxl-instagram bx-sm'></i></a>
                            <a href="#"><i class='bx bxl-tiktok bx-sm'></i></a>
                            <a href="#"><i class='bx bxl-twitter bx-sm'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                <p class="footer-text m-0">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                </p>
            </div> -->
        </div>
        <iframe class="iframe-chatbox"
                src="livechat.fpt.ai/v36/src/index.html?botcode=318841655fb9c702c3ecd44fb0003c82&botname=D-ACH%20Chat&sendername=&scendpoint=livechat.fpt.ai%3A443&time=1634731199642&subchannel=&themes=&styles=%7B%22headerColorType%22%3A%22gradient%22%2C%22headerSolid%22%3A%22%23EDEDF2FF%22%2C%22headerGradient1%22%3A%22%23004AFFFF%22%2C%22headerGradient2%22%3A%22%23B731A2FF%22%2C%22headerTextColor%22%3A%22%23FFFFFFFF%22%2C%22headerLogoEnable%22%3Afalse%2C%22headerLogoLink%22%3A%22https%3A%2F%2Fmedia.discordapp.net%2Fattachments%2F892405070900105251%2F900351456178208768%2Fbot_1.png%22%2C%22headerText%22%3A%22D-ACH%20Chat%22%2C%22primaryColor%22%3A%22%23566CFFFF%22%2C%22secondaryColor%22%3A%22%23E0E0E0FF%22%2C%22primaryTextColor%22%3A%22%23FFFFFFFF%22%2C%22secondaryTextColor%22%3A%22%23000000DE%22%2C%22buttonColor%22%3A%22%238292FFFF%22%2C%22buttonTextColor%22%3A%22%23ffffffff%22%2C%22bodyBackgroundEnable%22%3Afalse%2C%22bodyBackgroundLink%22%3A%22%22%2C%22avatarBot%22%3A%22https%3A%2F%2Fmedia.discordapp.net%2Fattachments%2F892405070900105251%2F900351456178208768%2Fbot_1.png%22%2C%22sendMessagePlaceholder%22%3A%22Nh%E1%BA%ADp%20tin%20nh%E1%BA%AFn%22%2C%22floatButtonLogo%22%3A%22https%3A%2F%2Fmedia.discordapp.net%2Fattachments%2F892405070900105251%2F900349518434926592%2Fbot.png%22%2C%22floatButtonTooltip%22%3A%22T%C3%B4i%20c%C3%B3%20th%E1%BB%83%20gi%C3%BAp%20g%C3%AC%20cho%20b%E1%BA%A1n%3F%22%2C%22floatButtonTooltipEnable%22%3Atrue%2C%22customerLogo%22%3A%22https%3A%2F%2Fmedia.discordapp.net%2Fattachments%2F892405070900105251%2F900351456178208768%2Fbot_1.png%22%2C%22customerWelcomeText%22%3A%22Nh%E1%BA%ADp%20t%C3%AAn%20c%E1%BB%A7a%20b%E1%BA%A1n%22%2C%22customerButtonText%22%3A%22B%E1%BA%AFt%20%C4%91%E1%BA%A7u%22%2C%22prefixEnable%22%3Afalse%2C%22prefixType%22%3A%22radio%22%2C%22prefixOptions%22%3A%5B%22Anh%22%2C%22Ch%E1%BB%8B%22%5D%2C%22prefixPlaceholder%22%3A%22Danh%20x%C6%B0ng%22%2C%22headerBackground%22%3A%22linear-gradient(86.7deg%2C%20%23004AFFFF%200.85%25%2C%20%23B731A2FF%2098.94%25)%22%2C%22css%22%3A%22%22%7D">
        </iframe>

    </footer>

    <!-- offcanvas mini cart start -->
    <div class="offcanvas-minicart-wrapper">
        <div class="minicart-inner">
            <div class="offcanvas-overlay"></div>
            <div class="minicart-inner-content">
                <div class="minicart-close">
                    <i class='bx bx-x bx-sm'></i>
                </div>
                <div class="minicart-content-box">
                    <div class="minicart-item-wrapper">
                        <ul>
                            <li class="minicart-item">
                                <div class="minicart-thumb">
                                    <a href="#">
                                        <img src="/img/product/p1.jpg" alt="product">
                                    </a>
                                </div>
                                <div class="minicart-content">
                                    <h3 class="product-name">
                                        <a href="#">Nike Air Force</a>
                                    </h3>
                                    <p>
                                        <span class="cart-quantity">1 <strong>&times;</strong></span>
                                        <span class="cart-price">1.000.000đ</span>
                                    </p>
                                </div>
                                <button class="minicart-remove"><i class='bx bx-x'></i></button>
                            </li>
                            <li class="minicart-item">
                                <div class="minicart-thumb">
                                    <a href="#">
                                        <img src="/img/product/p1.jpg" alt="product">
                                    </a>
                                </div>
                                <div class="minicart-content">
                                    <h3 class="product-name">
                                        <a href="#">Air Jordan 4</a>
                                    </h3>
                                    <p>
                                        <span class="cart-quantity">1 <strong>&times;</strong></span>
                                        <span class="cart-price">1.000.000đ</span>
                                    </p>
                                </div>
                                <button class="minicart-remove"><i class='bx bx-x'></i></button>
                            </li>
                        </ul>
                    </div>

                    <div class="minicart-pricing-box">
                        <ul>
                            <li>
                                <span>sub-total</span>
                                <span><strong>$300.00</strong></span>
                            </li>
                            <li>
                                <span>Eco Tax (-2.00)</span>
                                <span><strong>$10.00</strong></span>
                            </li>
                            <li>
                                <span>VAT (20%)</span>
                                <span><strong>$60.00</strong></span>
                            </li>
                            <li class="total">
                                <span>total</span>
                                <span><strong>$370.00</strong></span>
                            </li>
                        </ul>
                    </div>

                    <div class="minicart-button">
                        <a href="cart.html"><i class='bx bx-shopping-bag bx-sm'></i> Xem giỏ hàng</a>
                        <a href="cart.html"><i class='bx bx-share bx-rotate-180 bx-sm'></i> Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- offcanvas mini cart end -->
    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class='bx bxs-chevron-up'></i>
    </div>
    <!-- Scroll to Top End -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/nouislider.min.js"></script>
    <script src="~/js/countdown.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="~/js/gmaps.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/loadHomeModal.js"></script>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*  *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @*@CreateTagHelper<global::Microsoft.AspNetCore.Mvc.Razor.TagHelpers.UrlResolutionTagHelper>();*@
    @*await __tagHelperRunner.RunAsync(__tagHelperExecutionContext)*@

    <script>
        AOS.init();

        // Configs
        let liveChatBaseUrl = document.location.protocol + '//' + 'livechat.fpt.ai/v36/src'
        let LiveChatSocketUrl = 'livechat.fpt.ai:443'
        let FptAppCode = '318841655fb9c702c3ecd44fb0003c82'
        let FptAppName = 'D-ACH Chat'
        // Define custom styles
        let CustomStyles = {
            // header
            headerBackground: 'linear-gradient(86.7deg, #004AFFFF 0.85%, #B731A2FF 98.94%)',
            headerTextColor: '#FFFFFFFF',
            headerLogoEnable: false,
            headerLogoLink: 'https://media.discordapp.net/attachments/892405070900105251/900351456178208768/bot_1.png',
            headerText: 'D-ACH Chat',
            // main
            primaryColor: '#566CFFFF',
            secondaryColor: '#E0E0E0FF',
            primaryTextColor: '#FFFFFFFF',
            secondaryTextColor: '#000000DE',
            buttonColor: '#8292FFFF',
            buttonTextColor: '#ffffffff',
            bodyBackgroundEnable: false,
            bodyBackgroundLink: '',
            avatarBot: 'https://media.discordapp.net/attachments/892405070900105251/900351456178208768/bot_1.png',
            sendMessagePlaceholder: 'Nhập tin nhắn',
            // float button
            floatButtonLogo: 'https://media.discordapp.net/attachments/892405070900105251/900349518434926592/bot.png',
            floatButtonTooltip: 'Tôi có thể giúp gì cho bạn?',
            floatButtonTooltipEnable: true,
            // start screen
            customerLogo: 'https://media.discordapp.net/attachments/892405070900105251/900351456178208768/bot_1.png',
            customerWelcomeText: 'Nhập tên của bạn',
            customerButtonText: 'Bắt đầu',
            prefixEnable: false,
            prefixType: 'radio',
            prefixOptions: ["Anh", "Chị"],
            prefixPlaceholder: 'Danh xưng',
            // custom css
            css: ''
        }
        // Get bot code from url if FptAppCode is empty
        if (!FptAppCode) {
            let appCodeFromHash = window.location.hash.substr(1)
            if (appCodeFromHash.length === 32) {
                FptAppCode = appCodeFromHash
            }
        }
        // Set Configs
        let FptLiveChatConfigs = {
            appName: FptAppName,
            appCode: FptAppCode,
            themes: '',
            styles: CustomStyles
        }
        // Append Script
        let FptLiveChatScript = document.createElement('script')
        FptLiveChatScript.id = 'fpt_ai_livechat_script'
        FptLiveChatScript.src = liveChatBaseUrl + '/static/fptai-livechat.js'
        document.body.appendChild(FptLiveChatScript)
        // Append Stylesheet
        let FptLiveChatStyles = document.createElement('link')
        FptLiveChatStyles.id = 'fpt_ai_livechat_script'
        FptLiveChatStyles.rel = 'stylesheet'
        FptLiveChatStyles.href = liveChatBaseUrl + '/static/fptai-livechat.css'
        document.body.appendChild(FptLiveChatStyles)
        // Init
        FptLiveChatScript.onload = function () {
            fpt_ai_render_chatbox(FptLiveChatConfigs, liveChatBaseUrl, LiveChatSocketUrl)
        }

    </script>
</body>
</html>
